<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="container-scroller">

        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color:#bddcff;">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../dashboard/dashboard.php">
                            <i class="ti-shield menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Customer/Index">
                            <i class="ti-flag menu-icon"></i>
                            <span class="menu-title">Customer</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Supplier/Index">
                            <i class="ti-flag menu-icon"></i>
                            <span class="menu-title">Supplier</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Product/Index">
                            <i class="ti-shopping-cart menu-icon"></i>
                            <span class="menu-title">Products</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../unit/Index">
                            <i class="ti-layers menu-icon"></i>
                            <span class="menu-title">Units</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../Output/Index">
                            <i class="ti-shopping-cart-full menu-icon"></i>
                            <span class="menu-title">Output</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Input/Index">
                            <i class="ti-bar-chart-alt menu-icon"></i>
                            <span class="menu-title">Input</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Users/Index">
                            <i class="ti-user menu-icon"></i>
                            <span class="menu-title">Users</span>
                        </a>
                    </li>

                </ul>
            </nav>

            <div class="main-panel">
                @RenderBody()

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <?php include '../scripts.php'; ?>


    <script src="../../vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->

    <script src="../../js/chart.js"></script>
    <!-- End custom js for this page-->
    <script src="../../vendors/chart.js/Chart.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
